/*Header Start*/ 
 body{
 	margin: 0;
 	padding: 0;
 }
header{
	background-color: #121B2A;
	box-shadow: 0 10px 5px #121B2C;
}

.wrapper {
	overflow: hidden;
	width: 80%;
	/*border: 2px solid red;*/
	margin: 0 auto;
}

.logo {
	width: 20%;
	/*border: 1px solid yellow;*/
	float: left;
}

.logo img{
	width: 100%;
}

.menu {
	margin-top: 40px;
	width: 70%;
	/*border: 1px solid green;*/
	float: right;
	}

.menu ul{
	list-style: none;
	float: right;

}
.menu ul li{
	float: left;
}
.menu ul li a{
	font-family: sans-serif;
	font-size: 18px;
	text-decoration: none;
	color: white;	
	padding: 0px 20px;
	display: block;	
	transition: .5s;
	
}

.menu ul li a:hover{
	color: #0078BD;
}

.menu ul li:last-child a{
	padding-right: 0;
}
/*Header End*/ 

/*Banner Start*/

.banner {
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat; /*For no repeatation of image*/
	-webkit-background-size: cover; /*For Google Chrome & Opera browser image size. 
	Cover refers to putting the image in whole*/
	-moz-background-size: cover;/*For Mozilla browser image size*/
	background-position: left;	
}

.b_content {
	width: 50%;	
	margin-top: 200px;
	margin-bottom: 100px;
}
.b_content h1{
	font-family: sans-serif;
	font-weight: 400;
	font-size: 40px;
	color: white;
	margin: 0;

}
.b_content h2{
	font-family: sans-serif;
	font-size: 45px;
	/*color: #0074B9 ;*/
	color: #029efa;
	margin: 0;
}
.b_content p{
	font-family: sans-serif;
	font-size: 20px;
	color: white;
	line-height: 30px;
	margin: 5px 0 20px;
}
.b_content button{
	font-family: sans-serif;
	font-size: 25px;
	font-weight: 502;
	color: #5A5A5A;
	width: 210px;
	height: 48px;
	border: none;
	border-radius: 5px;
	transition: .5s;
	padding: 0 0 56px 0 ;
}

.b_content button:focus{
	outline: none;
}
.b_content button:hover{
	color: #0074b9;
}
.b_content button img{
	width: 13%;
	background-position: center;
	margin: 9px 0 0 13px;
}
/*Banner End*/

/*Container Starts*/
.container{
	background-color: #111828;
    overflow: hidden;
    width: 100%;
    box-shadow: 0 10px 5px #121B2C;
}
.text1, .text2, .text3 {
	background-color: #111828;
    float: left;
    width: 30%;
    padding-top: 60px;
    padding-bottom: 50px;
    /*height: 400px;
    padding: 114px;*/
}
/*.text1 h1{
	color: white;
}*/
.text1 h1,.text2 h1, .text3 h1{
font-family: arial;
font-size: 23px;
font-weight: 20;
color: white;

}

.text1 h2, .text2 h2, .text3 h2{
font-family: sans-serif;
font-size: 23px;
font-weight: 450;
color: #029efa;
}

.text1 p, .text2 p, .text3 p{
	font-family: sans-serif;
	font-size: 18px;
	line-height: 25px;
	color: white;
	text-align: justify; 
	/*line-height: 30px;
	margin: 5px 0 20px;*/

}	
.text1 {
    margin-right: 5%;
}
.text2{

}
.text3 {
    margin-left: 5%;
}
/*Container Ends*/

/*Footer Starts*/
.footer {
	background-color: #111828;
    overflow: hidden;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
    box-shadow: 10px 0 0 #131114;
}
#footbar{
	margin-top: 10px;
	width: 70%;
	float: left;
}
#footbar ul{
	list-style: none;
	float: left;
	color: white;
	}
#footbar ul li{
	float: left;
	color: white;
}
#footbar ul li a{
	font-family: sans-serif;
	font-size: 14px;
	text-decoration: none;
	color: white;	
	padding-right: 30px;
	display: block;	
	transition: .5s;
}

.footerlogo {
	width: 30%;
	float: right;
	overflow: hidden;
}
.wrapper ul li p{
	color: white;
	float:left;
	margin-left: 20px;

}
/*Footer Ends*/
